{% extends 'admins/adminbase.html'%}
{%load static%}

{%block contents%}
<div class="wrapper">
    <div class="col">
        <h2>Blockchain-based Secure <span>Storage System for Medical Image Data</span></h2>
        <p class="pad_bot1"><strong>Electronic Medical Record</strong></p>
        <p>Since Article 69 of the
            "Medical Law" was amended on January 29, 2013, has become popular in medical institutions in
            Taiwan. Though it is costly, it allows the reduction of time, convenience of data analysis,
            and so forth. The electronic medical record system is used for doctors to edit the
            electronic medical record after diagnosing the patient and upload the relevant examination
            results such as X-ray images. Medical records are exchanged in the host computer of the
            hospital. If doctors access medical records, they must be through the host computer under a
            certain authority.
        </p>
        <a href="https://ieeexplore.ieee.org/abstract/document/10170051/" target="_blank"
           class="button"><span>Read More</span></a></div>
</div>
{%endblock%}
